<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-3 mt-5">
            <h1>About us</h1>
        </div>
        <div class="col-9 aboutparagraph">
            <p>E-Learn is one of the world’s <br>
                leading certification training providers. <br>
                We partner with companies and individuals <br>
                to address their unique needs,providing training <br>
                and coaching that helps working professionals achieve <br>
                their career goals.</p>
        </div>
    </div>

</div>





<%- include('partials/footer') %>