<%- include('./partials/header') %>


<div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <form class="text-center p-5" action="/editProfile" method="post">
          <div class="form-group">
            <label>Update Your UserName :</label>
            <input
              class="form-control"
              type="text"
              name="username"
              placeholder="Enter Your new name"
              required
            />
          </div>
          <button class="btn btn-outline-dark btn-block" type="submit">
            Update
          </button>
        </form>
      </div>
    </div>







<%- include('./partials/footer') %>